@font-face { font-family: 'gyunggi'; src: url(gyunggi.ttf) format('truetype'); }
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NanumGothic/NanumGothic-Regular.eot');
  src: url('../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NanumGothic/NanumGothic-Bold.eot');
  src: url('../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/NanumGothic/NanumGothic-ExtraBold.eot');
  src: url('../fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.ttf') format('truetype');
}
body { font-family: 'gyunggi' }

#board_bt_top
{
    border-collapse: collapse;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 8px;
}
#board_bt_top tr th
{
    background-color: black;
    color: white;
    font-size: 14px;
    padding-top:5px;
    padding-bottom: 5px;
}
#board_bt
{
    border-collapse: collapse;
    margin-left: 20px;
    margin-right: 20px;
}
#board_bt tr td
{
    text-align: center;
    padding-top:5px;
    font-size: 14px;
    padding-bottom: 5px;
}
#board_bt tbody
{
    display: block;
    height: 430px;
}
#board_bt tr
{
    border-bottom: 1px solid silver;
}
#board_bt tr:hover
{
    background-color: #e1e1e1;
}
#btns
{
    margin-top: 10px;
    width: 760px;
    height: 27px;
    text-align: right;
}
.titlefont
{
    color: black;
}
.titlefont:hover
{
    border-bottom: 1px solid black;
}
.newsize
{
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
    width:14px;
    height: 14px;
}
