body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,
legend,input,textarea,button,select{margin:0;padding:0}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}

@font-face { font-family: 'gyunggi'; src: url(gyunggi.ttf) format('truetype'); }
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NanumGothic/NanumGothic-Regular.eot');
  src: url('../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NanumGothic/NanumGothic-Bold.eot');
  src: url('../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/NanumGothic/NanumGothic-ExtraBold.eot');
  src: url('../fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.ttf') format('truetype');
}
body { font-family: gyunggi; }

#wrap
{
    float:left;
    width:100%;
    _border: 0.5px solid black;
}
/*
.gnb
{
    float: left;
    width:100%;
    height:30px;
    _background-color: black;
}
.gnb_center
{
    width:150px;
    margin:5px auto; // top 5px
}
.gnb_center ul
{
    float:left;
}
.gnb_center ul li
{
    float:left;
    margin-right:10px;
    color: white;
}
*/
#container
{
    width:1000px;
    margin:0 auto;
}
#header
{
    float:left;
    width:1000px;
    height: 70px;
    _border:1px solid blue;
}
#headimg
{
    float: left;
    width: 300px;
    height: 67px;
}
/*#header h1
{
    float:left;
    margin-left:400px;
    color:black;
    font-size:40px;
}*/
.menu
{
    float: left;
    width:1000px;
    height:40px;
    background:black;
}
.menu_center
{
    margin-top: 3px;
    float: left;
    width:1000px;
}
.menu_center ul li
{
    float: left;
    font-size: 20px;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}
.menu_content
{
    padding-left: 46px;
    padding-right: 46px;
    _border: 1px solid red;
}
.menu_content:hover
{
    background-color: #454545;
}
.left
{
    float:left;
    width:650px;
    _border:1px solid blue;
}
.left_content
{
    float:left;
    width:650px;
    height:200px;
    margin-top:10px;
    _background:#edeef0
}
#imgs
{
  position: absolute;
  width: 650px;
  height: 200px;
  margin:0 auto;
  padding:0;
  overflow: hidden;
}
#imgs ul
{
  position: absolute;
  margin: 0px;
  padding:0;
  list-style: none;
}
#imgs ul li
{
  float: left;
  width: 650px;
  height: 200px;
  margin:0;
  padding:0;
}
#circles
{
  position: absolute;
  margin-top: 170px;
  margin-left: 285px;
  width:80px;
  height: 25px;
  _border: 1px solid black
}
.circles
{
  width:12px;
  height: 12px;
  margin-left: 9px;
  margin-top: 6px;
  border-radius: 50%;
  border: 1px solid silver;
  float:left;
}
.right
{
    float:left;
    width:338px;
    margin-left:10px;
    _border:1px solid red;
}
.right_content
{
    float:left;
    width:336px;
    height:200px;
    margin-top:10px;
    background:#f8f8f8;
    _border-radius:700px;
}
#footer
{
    float:left;
    width:1000px;
    height:80px;
    margin:10px 0 30px 0;
    background:#E9E9E9;
    border:0.5px solid silver;
}
#contents
{
    float:left;
    width:650px;
    height:420px;
    margin-top:10px;
    _background:#edeef0;
}
#login
{
    float:left;
    width:336px;
    height: 120px;
    border: 1px solid silver;
    background: white;
}
#gamestart
{
    float: left;
    width:336px;
    height: 75px;
    margin-top: 5px;
    _border: 0.5px solid black;
}
#gamestart:hover
{
  border: 1px solid black;
  border-radius: 5px;
}
#title_div
{
  width:320px;
  height:28px;
  border-bottom: 1px solid silver;
  background-color: #f7f7f7;
}
#notice
{
    position: absolute;
    width:320px;
    height:200px;
    border: 1px solid silver;
}
#event
{
    position: absolute;
    margin-left: 325px;
    width:320px;
    height:200px;
    border: 1px solid silver;
}
#free
{
    position: absolute;
    margin-top:210px;
    width:320px;
    height:200px;
    border: 1px solid silver;
}
#bt
{
    position: absolute;
    margin-top:210px;
    margin-left: 325px;
    width:320px;
    height:200px;
    border: 1px solid silver;
}
.board_title
{
    position: absolute;
    font-weight: bold;
    font-family:'Nanum Gothic';
    color: black;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 6px;
}
.board_link
{
      position: absolute;
      font-family:'Nanum Gothic';
      color: black;
      font-size: 11px;
      margin-left: 263px;
      margin-top: 8px;
}
.board_table
{
    text-align: left;
    position: absolute;
    margin-top:3px;
    margin-left: 9px;
    margin-right: 15px;
    font-family:'Nanum Gothic';
    font-size: 13px;
    border-collapse: separate;
    border-spacing: 0 7px;
}
.board_table tr
{
  word-break:break-all;
  word-wrap:break-word;
}
.board_table td:hover
{
    /*background-color: #e1e1e1;*/
}
.id_text
{
  margin-right: 7px;
}
.id_text:hover
{

}
.titlefont:hover
{
    color: #8AD1FF;
}
#login_div
{
  width: 270px;
  margin-top: 10px;
  margin-left: 30px;
}
.newsize
{
    position: absolute;
    margin-left: 5px;
    margin-top: 0.5px;
    width:14px;
    height: 14px;
}
#user_info_div
{
    width: 290px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    _border:1px solid black;
}
#user_info_image
{
  position: absolute;
  margin-top: 5px;
}
#user_info_inner
{
  position: absolute;
  margin-left: 100px;
  margin-top: 12px;
  font-family:'Nanum Gothic';
  font-size: 13px;
}
.logout_btn
{
  margin-top:4px;
  width:100px;
  height:27px;
  border-radius:15px;
  border: 0px;
  background:black;
  color:white;
  font-weight:bold;
}
.logout_btn:hover
{
  background: silver;
  cursor:pointer;
}
.game_btn
{
  font-family: 'gyunggi';
  width:336px;
  height:75px;
  font-size: 45px;
  border-radius:5px;
  border: 5px solid black;
  background: white;
}
.game_btn:hover
{
  background: black;
  color: white;
  border: 5px solid #f7f7f7;
  cursor:pointer;
}
#log_in
{
  width:270px;
  height:27px;
  margin-bottom:5px;
  font-family:'Nanum Gothic';
  font-weight:bold;
  background:black;
  color:white;
  font-weight:bold;
  border: 0px;
  border-radius:10px;
}
#log_in:hover
{
  background: silver;
  cursor:pointer;
}
#c1
{
  background: black;
}
