body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,
legend,input,textarea,button,select{margin:0;padding:0}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}
@font-face { font-family: 'gyunggi'; src: url(gyunggi.ttf) format('truetype'); }
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NanumGothic/NanumGothic-Regular.eot');
  src: url('../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NanumGothic/NanumGothic-Bold.eot');
  src: url('../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/NanumGothic/NanumGothic-ExtraBold.eot');
  src: url('../fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.ttf') format('truetype');
}
body { font-family: gyunggi;}
#black_background{
  position: absolute;
  background: black;
	opacity:0.4;
  width: 100%;
  height: 100vh;
  display: none;
}
#white_background{
  position:absolute;
	text-align:center;
	width:400px;
	height:250px;
	background:white;
	left:50%;
	top:40%;
	transform:translate(-50%, -50%);
	display:none;
}
#wrap
{
    float:left;
    width:100%;
    _border: 0.5px solid black;
}
#container
{
    width:1000px;
    margin:0 auto;
}
#header
{
    float:left;
    width:1000px;
    height: 70px;
    _border:1px solid blue;
}
#headimg
{
    float: left;
    width: 300px;
    height: 67px;
}
.menu
{
    float: left;
    width:1000px;
    height:40px;
    background:black;
}
.menu_center
{
  margin-top: 3px;
  float: left;
  width:1000px;
}
.menu_center ul li
{
    float: left;
    font-size: 20px;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}
.menu_content
{
    padding-left: 46px;
    padding-right: 46px;
    _border: 1px solid red;
}
.menu_content:hover
{
    background-color: #454545;
}
.center
{
    float:left;
    width:1000px;
    _border:1px solid blue;
}
.center_content
{
    float:left;
    margin-left:125px;
    margin-right:125px;
    width:750px;
    height:520px;
    margin-top:10px;
    text-align: center;
}
#footer
{
    float:left;
    width:1000px;
    height:80px;
    margin:5px 0 30px 0;
    background:#E9E9E9;
    border:0.5px solid silver;
    text-align:center;
    font-family: 'Nanum Gothic';
}
.center
{
    float:left;
    width:1000px;
}
#center_content
{
  float:left;
  margin-left:200px;
  margin-right:125px;
  width:600px;
  padding: 10px 0px 10px 0px;
  margin-top:5px;
  text-align: center;
  border:1px solid black;
}
.shop_box{
  width:500px;
  height: 50px;
  margin-left:50px;
  margin-top:5px;
  padding: 5px 0px 5px 0px;
  text-align:left;
  border:1px solid black;
}
.shop_font_box{
  float: left;
}
.shop_btn_box{
  float: left;
}
.btns{
  margin-top:5px;
  margin-left:10px;
  width:150px;
  height:40px;
  border:0;
  border-radius: 20px;
  background: black;
  color: white;
  font-weight: bold;
}
.btns:hover{
  background: silver;
  border:0;
  cursor: pointer;
}
.shop_image_box{
  margin-left:5px;
  float: left;
}
.textboxes{
  width: 200px;
  height: 30px;
  padding-left: 10px;
}
.textboxes_titile_div{
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}
#btn_check{
  width:100px;
  height: 20px;
  background: black;
  color: white;
  border:0;
  border-radius: 10px;
}
#btn_check:hover{
  background: silver;
  cursor: pointer;
}
#submit_btn{
  margin-top: 5px;
  width:200px;
  height: 30px;
  background: black;
  color: white;
  border:0;
  border-radius: 20px;
}
#submit_btn:hover{
  background: silver;
  cursor: pointer;
}
